<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/get_clientes.js"></script>
    <title>Clientes</title>
</head>
<body>
        <h1 class="text-center">Listado de Clientes:</h1>
        <br>

            <label for="input_id_cliente">ID Cliente: </label>
            <input type="number" id="input_id_cliente" required>
            <input type = "button" class="btn btn-success" onclick = "getClienteByID()" value = "Buscar">

        <br>
        <table id="tabla_clientes" class="table table-striped table-hover text-center">
        </table>
        <div id="alert">

        </div>

        <script async>
            document.body.onload = getClientes(0);
        </script>
</body>
</html>